products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Product" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProductName" type="xs:string"/>
                            <xs:element name="ProductDescription" type="xs:string"/>
                            <xs:element name="Workplan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Step" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Number" type="xs:integer"/>
                                                    <xs:element name="Function" type="xs:string"/>
                                                    <xs:element name="Parameter" type="xs:integer"/>
                                                    <xs:element name="FunctionDescription" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Version" type="xs:string" use="required"/>
            <xs:attribute name="Creator" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>